/* reset browser default style  */
* {
  margin: 0;
  padding: 0;
}

/* common shared styles  */
body {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.left-right-equal-space {
  margin: 0 100px;
}

.secton-bottom-space{
  margin-bottom: 130px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}


/* header related styles  */
header {
  height: 90vh;
  background: rgba(229, 84, 115, 0.1);
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.banner-content {
  max-width: 400px;
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.banner-image-container img {
  height: 90vh;
}

/* feature related styles  */
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  max-width: 594px;
  margin: 24px auto;
  margin-bottom: 48px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  gap: 24px;
}

.feature-image-container {
  width: 350px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 32px;
}

.feature-image {
  width: 250px;
  height: 400px;
}

.feature-image-container1 {
  background: rgba(167, 33, 98, 0.15);
}

.feature-image-container2 {
  background: rgba(5, 151, 160, 0.15);
}

.feature-image-container3 {
  background: rgba(71, 125, 17, 0.15);
}

.feature-caption {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration: underline gray;
}

/* servcie section related styles  */
.service-section {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 87px;
}

.service-description {
  padding-top: 24px;
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* deal section related styles  */
.deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 100px 0;
}

.deal-section-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.deal-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  margin: 24px 0 32px 0;
}

.colorful-off {
  color: #e55473;
}

/* instagram related styles  */
.instagram-content {
  max-width: 590px;
  margin: 0 auto;
}

.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 48px 0;
}

.instagram-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.instagram-cards-container img {
  max-width: 280px;
}

/* ====================testimonial sectoin style================  */
.testimonil-title{
  color:#e55473;
}

.testimonial-description{
  text-align: center;
  padding: 20px 0;
  color:#e55473;
}

.testimonials-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.testimonial-item{
  max-width: 380px;
}

.client-image-container{
  display: flex;
  justify-content: center;
}

.testimonial-body{
  color:#a89e9e;
  background: #f3f0f0;
  border: solid #e0dbdb 1px;
  padding: 70px 20px 20px 20px;
  text-align: center;
}

.fa-quote-left, .fa-quote-right{
  color:#e55473;
  font-weight: 700px;
  font-size: 1.5rem;
}
.client-image{
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: -60px;
  border: solid #fff 8px;
}

.client-feedback{
 
}

.client-info-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}
.client-name{
  color:#e55473;
  font-weight: bolder;
}
.client-profession{}









/* details related styles  */
.details-container {
  background-image: url("../assets/Rectangle\ 9.png");
  display: flex;
  padding: 122px 287px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.details-container form input {
  padding: 23px 22px;
  border: 0;
  outline: none;
  background: #fff;
  margin-right: 16px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.details-description {
  padding: 5px 0 48px 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* footer related styles  */
footer {
  background: #111010;
  padding: 128px 0;
}

.foote-content {
  max-width: 625px;
  margin: 0 auto;
}

.colorful-flower-txt {
  color: #e55473;
}
.white-text {
  color: #fff;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 32px 0;
}

.footer-copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
