/* reset browser default style  */
* {
  margin: 0;
  padding: 0;
}

/* common shared styles  */
body {
  font-family: "Lato", sans-serif;
}

.btn-primary {
  background: #e55473;
  border-radius: 8px;
  padding: 20px 43px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.left-right-equal-space {
  margin: 0 100px;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

/* header related styles  */
header {
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  margin-bottom: 178px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.banner-content {
  max-width: 400px;
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 32px 0;
}

.banner-image-container img {
  height: 800px;
}

/* feature related styles  */
.feature-section {
  margin-bottom: 128px;
}

.section-title {
}

.feature-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  max-width: 594px;
  margin: 24px auto;
  margin-bottom: 48px;
}

.features-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  gap: 24px;
}

.feature-item {
}

.feature-image-container {
  width: 350px;
  height: 500px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 32px;
}

.feature-image {
  width: 250px;
  height: 400px;
}

.feature-image-container2 {
  background: rgba(5, 151, 160, 0.15);
}

.feature-image-container3 {
  background: rgba(71, 125, 17, 0.15);
}

.feature-caption {
  text-align: center;
  text-decoration: underline;
}

/* servcie section related styles  */
.service-section {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 87px;
  margin-bottom: 128px;
}

/* deal section related assignment  */
.deal-section {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.deal-section-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 594px;
}
.deal-section-title {
}
.deal-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  margin: 24px 0 32px 0;
}
.colorful-off {
  color: #e55473;
}

/* instagram related styles  */
.instgram-section {
  margin-bottom: 128px;
}
.instagram-content {
  max-width: 590px;
  margin: 0 auto;
}

.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 48px 0;
}

.instagram-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.instagram-cards-container img {
  max-width: 280px;
}

/* details related styles  */
.details-section {
  margin-bottom: 128px;
}
.details-container {
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  display: flex;
  padding: 122px 287px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.details-container form input {
  padding: 23px 22px;
  border: 0;
  outline: none;
  background: #fff;
  margin-right: 16px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.details-description {
  padding: 5px 0 48px 0;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* footer related styles  */
footer {
    background: #111010;
    padding: 128px 0;
}

.foote-content {
  max-width: 625px;
  margin: 0 auto;
}

.footer-title {
}

.colorful-flower-txt {
  color: #e55473;
}
.white-text{
    color:#fff;
}

.footer-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0 32px 0;
}

.footer-copy-right {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
